@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    color: #02020d;
    font-family: "Open Sans", Sans-Serif;
}

a {
    text-decoration: none;
}

.adjust-width {
    max-width: 1024px;
    dislay: grid;
}

.space {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header.white {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
}

.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    color: #f4f3f3;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5rem;
    display: block;
}

.active,
.nav-link:hover {
    background-color: #02020d;
    border: 2px solid #f4f3f3;
    color: #f4f3f3;
    overflow: hidden;
}

.logo {
    color: #f4f3f3;
    font-size: 1.5rem;
    font-weight: 800;
    z-index: 100;
}

.menu-btn {
    display: none;
    border-style: none;
    padding: 0.5rem;
    border-radius: 5rem;
    color: #f4f3f3;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .menu-btn {
        display: block;
    }

    .navigation-links-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 90;
        width: 100%;
        height: 100vh;
        background-color: #02020d;
    }

    .ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    .nav-link {
        border-radius: 0;
        padding: 0.963rem;
    }
}

img {
    display: block;
    width: 100%;
}

/*about section*/
.about-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-img {
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-background {
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.intro-text-container {
    position: absolute;
    padding: 0.5rem 5%;
    z-index: 40;
    color: #f4f3f3;
}

.intro-p {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 8px;
    border-style: none;
    color: #cccc;
    border: 1px solid #cccc;
    border-radius: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: transparent;
}

.intro-p:hover {
    background-color: #02020d;
    color: #f6f6f6;
    overflow: hidden;
}

.intro-text {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.intro-more-text {
    font-size: 1.2rem;
    font-weight: 400;
}

/*Video and CTA*/

.videos-and-cta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    overflow-x: scroll;
    padding: 0.5rem 10%;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.videos-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.btns-container {
    position: absolute;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    top: 5%;
    z-index: 2;
}

.btn {
    background-color: #f6f6f6;
    border-style: none;
    padding: 0.65rem 0.83rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #02020d;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 50;
}

.btn:hover,
.circle-btn:hover {
    color: #f6f6f6;
    border: 2px solid #f6f6f6;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

.circle-btn {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.5s ease;
    z-index: 50;
}

.description-container {
    position: absolute;
    width: 100%;
    padding: 0.8rem 5%;
    bottom: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.description {
    color: #f6f6f6;
    font-size: 1.3rem;
    font-weight: 500;
}

.space-down {
    margin-bottom: 0.9rem;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
}

.email-input {
    width: 100%;
    padding: 0.55rem;
    border: 2px solid #f6f6f6;
    border-radius: 20px;
    font-size: 1rem;
    color: #f6f6f6;
    background-color: transparent;
}

.email-input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

::placeholder {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 0.9rem;
}

.submit-btn {
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    border-style: none;
    padding: 0.65rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #02020d;
    cursor: pointer;
}

/*Reviews section*/
.parent-container {
    background-color: #ffffff;
    width: 100%;
    padding-top: 4.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text {
    width: 85%;
    margin: auto;
    text-align: center;
}

.testimonial-btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 8px;
    border-style: none;
    border: 1px solid #02020d;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: transparent;
}

.testimonial-btn:hover {
    background-color: #02020d;
    color: #f6f6f6;
    overflow: hidden;
}

.testimonial-h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.testimonials-p {
    font-size: 1rem;
    font-weight: 500;
}

.reviews-container {
    display: flex;
    vertical-align: middle;
    padding: 0.983rem;
}

.student-review-holder {
    max-width: 300px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.trainnee-img {
    border-radius: 20px;
}

.student-review {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

/*Trainner Section*/
.trainner-container {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 3rem;
    overflow-x: scroll;
    padding: 0.5rem 10%;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.trainner-holder {
    position: relative;
    background-color: #9e836a;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.trainner-text-container {
    width: 250px;
    height: 350px;
    padding: 2rem 2rem;
    color: #ffffff;
}

.trainner-btn{font-size: 1rem;
    font-weight: 400;
    padding: 6px 8px;
    border-style: none;
    color: #cccc;
    border: 1px solid #cccc;
    border-radius: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: transparent;
}

.trainner-btn:hover {background-color: #02020d;
    color: #f6f6f6;
    overflow: hidden;
    
}

.trainner-h1{
  margin-bottom: 1rem;
}

.trainner-name {
    position: absolute;
    color: #ffffff;
    z-index: 3;
    text-align: center;
    padding: 0.8rem 5%;
    bottom: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.trainner-img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    
}

/*Class Container*/
.class-container {
    background-color: #010103;
    width: 100%;
    color: #f6f6f6;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.class-holder {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.class-text-container {
    width: 90%;
    height: 85%;
    margin: auto;
}

.class-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10%;
}

.class-p {
    font-size: 1.2rem;
    font-weight: 400;
}

.class-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.class-p-container {
    width: 90%;
    position: absolute;
    top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 50;
}

.class-holder-p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.9rem;
}

.class-holder-p2 {
    font-size: 1rem;
}

.dot-span {
    font-size: 1.5rem;
    font-weight: 800;
}

.class-btn {
    position: absolute;
    padding: 0.3rem 0.873rem 0.3rem;
    border-style: none;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    bottom: 8%;
    margin-left: 50%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 50;
}

.class-btn:hover {
  background-color: transparent;
  color: #ffffff;
    border: 2px solid #f6f6f6;
}

/*FAQ section*/
.faq-container {
    background-color: #e2e2e2;
    width: 100%;
    padding-top: 4rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.faq-holder {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.faq-text-container {
    padding: 0.63rem;
}

.faq-btnn {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 8px;
    border-style: none;
    border: 1px solid #02020d;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: transparent;
}

.faq-btnn:hover {
    background-color: #02020d;
    color: #f6f6f6;
    overflow: hidden;
}

.faq-h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.faq-p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.faq-ul {
  list-style-type: none;
    width: 100%;
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 0.5rem 0 0.5rem 0;
}

.faq-li{
  margin-bottom: 1rem;
}

.faq-btn {
  padding: 1rem 0.5rem 1rem 0.5rem;
  width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-style: none;
    border-bottom: 1px solid #cccc;
    background-color: inherit;
}

.faq-btn:hover {
  background-color: #ccc;
}

.li-p {
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: none;
    overflow: hidden;
}

/*.li-p.show {
    display: block;
}*/

/*Footer section*/
.footer-section {
    background-color: #cccfd7;
    width: 100%;
    padding-top: 4rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-text-container {
    width: 85%;
    margin: auto;
    text-align: center;
}

.footer-h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.footer-btn {
    background-color: #f6f6f6;
    border-style: none;
    border-radius: 20px;
    padding: 0.73rem 0.83rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-btn:hover{
  background-color: transparent;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}

.footer-container {
    width: 100%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer-holder {
    width: 87%;
    margin: auto;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.footer-holder-p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer-holder-p2 {
    font-size: 1rem;
}

.ph {
    margin-bottom: 1.2rem;
}

.social-links-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.social-links {
    font-size: 1.4rem;
    overflow: hidden;
}

.color-blue {
    color: #6cacd4;
}

.color-red {
    color: #be0a22;
}

.color-purple {
    color: #c135e7;
}

/*Media queries*/
@media screen and (max-width: 375px) {
    .intro-p {
        padding: 6px 8px;
        font-size: 0.9rem;
    }

    .intro-text {
        font-size: 2.3rem;
    }

    .intro-more-text {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .email-input {
        padding: 0.43rem;
    }

    .submit-btn {
        padding: 0.55rem;
    }

    .testimonial-btn {
        font-size: 0.9rem;
        padding: 6px 7px;
    }

    .testimonial-h1 {
        font-size: 1.5rem;
    }

    .testimonials-p {
        font-size: 0.9rem;
    }

    .student-review {
        margin-bottom: 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px){
  .class-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 1024px){
  .class-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}